@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Anton", sans-serif;
}


:root {
  --clr-r-d: #000000;
  --clr-r-l: #C44536;
  --clr-l: #EDDDD4;
  --clr-pur: #781940;
  --clr-g-d: #283D3B;
  --clr-g-l: #197278;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(64, 208, 64);
  border-radius: 10px;
}



#hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.3));
  color: white;
}

#hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -40;
  position: absolute;
  top: 0;
  right: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
  z-index: 99;
  /* background-color: #000; */
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  letter-spacing: 0.1rem;
  cursor: pointer;

}

nav .nav-items {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

nav h1 {
  letter-spacing: 0.5rem;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
}

nav .nav-items button{
  padding: 5px 30px 5px 30px;
  background-color: #40eae8;
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}

nav .nav-items button a {
  color: white; /* Ensures the link inside remains white */
  text-decoration: none; /* Removes underline from the link */
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.content .content-text h2 {
  font-size: 120px;
  letter-spacing: 1.5rem;
  font-weight: 200;
}

.content .content-text p {
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 0.1rem;
  /* margin-bottom: 100px; */
}


#features {
  width: 100%;
  min-height: 70vh;
  background-color: #E0F7FA;



  /* background-color: #458d21; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2C5F2D;
  padding-top: 50px;
}

.feature-title {
  text-align: center;
  margin-bottom: 20px;
}

.feature-title h3 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 2px;
}

.feature-title p {
  max-width: 500px;
  font-weight: 100;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #333333;
}


.feature-content {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: start;
  height: 100%;
  padding: 0px 150px 0px 150px;
}

.feature-content img {
  /* height: 50%; */
  width: 500px;
  object-fit: cover;
  border-radius: 20px;

}

.feature-content div {
  margin-top: 20px;
  width: 50%;
  height: 100%;
  border-radius: 20px;
}

.feature-content .feature-part2 {
  height: 100%;
  width: 50%;
}

.feature-part2 h4 {
  font-size: 49px;
  font-weight: 300;
  margin-bottom: 20px;
}

.feature-part2 p {
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 20px;
}

.feature-part2 button {
  padding: 5px 30px 5px 30px;
  background-color: rgb(102, 102, 229);
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}

#disease,
#insights {
  margin-top: 70px;
}

features-list {
  list-style: none;
  padding: 0;
}

.feature-item {
  display: flex;
  align-items: center;
  margin: 10px 0;

}

.tick {
  font-size: 20px;
  color: #363632;
}

@media(min-width: 768px) {
  .tick {
    font-size: 25px;
  }
}

@media(min-width: 1024px) {
  .tick {
    font-size: 30px;
  }
}

.feature-item li {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  list-style: none;
}

@media(min-width: 768px) {
  .feature-item li {
    font-size: 16px;
    margin-left: 15px;
  }
}

@media(min-width: 1024px) {
  .feature-item li {
    font-size: 18px;
    margin-left: 20px;
  }
}

praveen {
  padding: 10px 20px;
  background-color: #4954d1;
  font-weight: 100;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 20px 0;

}

.feature-part2 ul {
  margin-bottom: 50px;
}




.container {
  /* margin: 0 auto; */
  margin-top: 100px;
  text-align: center;
  white-space: nowrap;
}

.card {
  font-weight: 100;
  display: inline-block;
  position: relative;
  background: var(--clr-l);
  color: var(--clr-g-d);
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 11px 26px 1px rgba(0, 0, 0, 0.29), inset 0 -16px 90px rgba(196, 69, 54, 0.25);
}

.card h2 {
  margin: 0;
  width: 100%;
  font-size: 30px;
  background: var(--clr-r-l);
  padding: 20px 0;
  color: var(--clr-l);
  box-shadow: inset 0px 5px 4px -4px rgba(236, 221, 212, 0.38);
}

.card h3 {
  margin: 20px 0;
  font-size: 60px;
  text-shadow: 3px 2px 2px rgba(40, 61, 59, 0.22);
}

.card h3 span {
  font-size: 20px;
}

.card p {
  font-style: italic;
  margin: 0 0 30px 0;
}

.card ul {
  text-align: left;
  padding: 0 50px;
  margin: 0;
}

.card ul li {
  display: block;
  margin-bottom: 10px;
}

.card ul li.aval::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 20px;
  color: var(--clr-g-l);
  width: 40px;
  display: inline-block;
}

.card ul li.unaval::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  font-weight: 900;
  font-size: 20px;
  color: var(--clr-r-l);
  width: 40px;
  display: inline-block;
}

.card .select {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  background: #3e3e3e;
  color: #efefef;
  font-size: 15px;
  font-family: inherit;
  box-shadow: 0 8px 18px 4px rgba(40, 61, 59, 0.3);
}

.card .select::before {
  font-family: "Font Awesome 5 Free";
  content: "\f07a";
  font-weight: 900;
  margin-right: 15px;
}

.card-1,
.card-3 {
  position: relative;
  transform: scale(0.9);
}

.card-1 {
  left: 40px;
  margin-left: -60px;
  z-index: 0;
}

.card-1 h2 {
  background: var(--clr-g-l);
}

.card-2 {
  z-index: 1;
}

.card-3 {
  left: -40px;
  margin-right: -60px;
  z-index: 0;
}

.card-3 h2 {
  background: var(--clr-pur);
}

.hot-badge::after {
  content: 'HOT';
  position: absolute;
  background: linear-gradient(to right, #ffd400, #ffbc00);
  padding: 5px 54px;
  box-shadow: 0 0 5px 3px rgba(113, 94, 0, 0.43);
  top: 17px;
  right: -46px;
  color: #5d4d00;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  transform: rotateZ(45deg);
}

.creator-link {
  text-decoration: none;
  color: #d8d8d8;
  background: #2d2d2d;
  text-shadow: 0 1px 3px black;
  position: fixed;
  bottom: 40px;
  right: -54px;
  padding: 5px 0px;
  width: 230px;
  text-align: center;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  transform: rotateZ(-45deg);
  z-index: 10;
  transition: 150ms;
}

.creator-link:hover {
  background: #56251f;
  color: white;
}


.pricing h1 {
  font-size: 40px;
  letter-spacing: 2.5px;
}

.pricing p {
  font-size: 40px;
  margin-bottom: 50px;
  /* letter-spacing: 0.5px; */
}


.credit {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  border-top: .1rem solid rgba(0, 0, 0, .1);
}

.credit a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

.credit a span {
  color: green;
}